/* navbar css */
.navbar-custom {
    background-color: #fff;
    box-shadow: 1px 1px 2rem rgba(192, 185, 185, 0.5);
    padding: 1rem;
}

.navbar {
    padding: 0 !important;

}

.navbar-custom .navbar-brand img {
    width: 125px;
}

.navbar-custom .nav-link {
    color: #000;
    font-size: 16px;
}

.navbar-custom .nav-link:hover {
    color: #007BFF !important;
}
    
.navbar-custom .btn {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px !important;
}

.btn-secondary-custom {
    background-color: #007BFF !important;
    color: #fff !important;
    border: none;
}

.btn-secondary-custom:hover {
    background-color: #007BFF !important;
    color: #fff !important;
    border: none;
}

.btn-primary-custom {
    background-color: transparent;
    color: black !important;
    border: 1px solid #d3d3d3;
}

.hero-section {
    padding: 3rem 0;
    background-color: #f8f9fa;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #1D2026;
}

.hero-section h1 span {
    color: #008ab3 !important;
}

.hero-section p {
    color: #4B5563;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.hero-section .btn {
    margin-right: 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.hero-section img {
    max-width: 100%;
    height: auto;
}




.benefits-section {
    background-color: #E3F2FD;
    padding: 50px 0;
}

.benefits-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

.benefit-item {
    display: inline-block;
    background-color: #ffffff;
    color: #007BFF;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.benefit-item:hover {
    background-color: #007BFF;
    color: #ffffff;
}

.benefit-item i {
    margin-right: 8px;
}

/* dashbord img section */

.sm {

    padding: 1rem 5rem 0rem;
}

.content-img {
    max-width: 550px;
    margin-left: 100px;

}

.sm h2 {
    font-size: 2.25rem;
    line-height: 1.4;


    margin-bottom: 10px;
}

.sm h6 {
    font-size: 1.125rem;
    line-height: 1.45;
}

.showme p {
    font-size: 18px;
    padding: 12px 25px;
    margin-bottom: 10px;

    max-height: fit-content;
    overflow: hidden;
    border-radius: 4px;
    cursor: default;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}

.left1x3n .grid178A {
    grid-template-columns: 450px 1fr;
}

@media (max-width: 767px) {
    .showme p {
        font-size: 15px !important;
        padding: 8px 0px !important;
    }

    .left1x3n .grid178A {
        grid-template-columns: auto 1fr !important;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .left1x3n .grid178A {
        display: flex;
    }
}

.tab svg {
    margin-bottom: 5px;
}

.tab.active,
.tab.active svg {
    border-radius: 10px;
    fill: #007BFF;
    color: #007BFF;
    background: #FCF0E6;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
}

.grid178A {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
    max-width: 1003.75px;
    padding: 3.125rem 1.875rem;

}

.showme p {
    color: var(--foundation-secoundary-secoundary-400, #505766);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

#content2 {
    padding-top: 100px !important;
}


/* media for softwhre img section */

@media (max-width: 767px) {
    .sm {
        padding: 10px !important;
    }

    .grid178A {
        display: grid;
        grid-template-rows: auto;
        grid-column-gap: 75px;
        grid-row-gap: 20px;
        max-width: 1003.75px;
        padding: 0;
    }

    .parent {
        display: none;
    }
}


@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:600');

.custom-gallery1 {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.custom-photoLink {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
}

.custom-item * {
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    height: 100px;
    width: 100px;
}

.custom-item {
    vertical-align: top;
    height: 210px;
    width: 100%;
}

.custom-item i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s 0 ease;
}

.custom-item a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.custom-item.custom-blue {
    background-color: #34495e;
}

.custom-item.custom-blue i {
    color: #34495e;
}

.custom-item.custom-red {
    background-color: #ff0000;
}

.custom-item.custom-red i {
    color: #e74c3c;
}

.custom-item:hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s .1s cubic-bezier(.37, 1.05, .5, 1.21);
}

#custom-item1 {
    background: url("https://i.ibb.co/QK7m51x/4c1ee981-ba49-497a-81a3-97b679fd61b1.jpg") center center no-repeat;
    background-size: cover;
}

#custom-item2 {
    background: url("https://i.ibb.co/qk1KTQZ/5f8d9f80-b2cf-4f51-9a8c-b768f135793c.jpg") center center no-repeat;
    background-size: cover;
}

#custom-item3 {
    background: url("https://i.ibb.co/wWLXzvY/fa00ac56-99c2-47a7-94d4-19ccf9d302b0.jpg") center center no-repeat;
    background-size: cover;
}

.custom-color:hover {
    opacity: 1 !important;
}

.custom-color.custom-green {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #16a08577;
}

.custom-color.custom-green i {
    color: #16a085;
}

.custom-color.custom-blue {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #0c67f977;
}

.custom-color.custom-blue i {
    color: #0c67f9;
}

.custom-color.custom-red {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #f90c0c77;
}

.custom-color.custom-red i {
    color: #f90c0c;
}

.custom-container {
    animation: 1.5s custom-up;
}

@keyframes custom-up {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* footer code start */

/*===== FOOTER =====*/
.custom-footer {
    background-color: #e3f2fd !important;
    margin-top: 50px;
}

.custom-footer {
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
}

.custom-footer__container {
    padding: 3rem 0;
}

.custom-footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-semi-bold);
}

.custom-footer__description {
    margin-bottom: var(--mb-3);
}

.custom-footer__social {
    margin-bottom: var(--mb-6);
}

.custom-footer__link {
    font-size: 1.4rem;
    color: var(--first-color-lighten);
    margin: 0 var(--mb-1);
    transition: .3s;
}

.custom-footer__link:hover {
    color: var(--first-color-light);
}

.custom-footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--first-color-light);
}

@media screen and (min-width: 1024px) {
    .custom-bd-container {
        margin-left: auto;
        margin-right: auto;
    }
}