<!DOCTYPE html>
<html>

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>HomeHealth</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- <link rel="stylesheet" type="text/css" href="./landing.css">
      <link rel="stylesheet" href="./Responcive.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Poppins:400,700&display=swap" rel="stylesheet">
      -->
</head>

<body>
   <!-- header top section start -->
   <div class="header_top_section">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="header_top_main">
                  <div class="call_text"><a href="#"><span class="padding_right0"><i class="fa fa-phone"
                              aria-hidden="true"></i></span> Call : +01 1234567890</a></div>
                  <div class="call_text_2"><a href="#"><span class="padding_right0"><i class="fa fa-envelope"
                              aria-hidden="true"></i></span> demo@gmail.com</a></div>
                  <div class="call_text_1"><a href="#"><span class="padding_right0"><i class="fa fa-map-marker"
                              aria-hidden="true"></i></span> Location</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- header top section end -->
   <!-- header section start -->
   <div class="header_section">
      <div class="container">
         <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
               <a class="navbar-brand" style="text-align: start;" href="#">
                  <img style="width: 100px;"
                     src="https://i.ibb.co/PzM8pYF/74-EB1-EE2-13-F5-4-D86-99-AE-A798-B5-CDABB1.png" alt="">
               </a>

               <div class=" navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  </ul>
                  <form class="d-flex" role="search">

                     <button class="btn btn fw-bold "
                        style="width: 150px; height: 40px; background-color: #5090C1; color: white;" type="submit"
                        routerLink="/mainLogin">Login</button>
                  </form>
               </div>
            </div>
         </nav>

      </div>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">

                  <h1 class="banner_taital">Home Care Services</h1>
                  <p class="banner_text fs-4">Focusing on Personal Care Home ... ! </p>
                  <div class="read_bt"><a href="#">Read More</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
   </div>
   <!-- header section end -->
   <!-- appointment section start -->
   <div class="appointment_section">
      <div class="container">
         <div class="appointment_box">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="appointment_taital">Lead <span style="color: #5090C1;">Generate</span></h1>
               </div>
            </div>         
            <div class="appointment_section_2">
               <form [formGroup]="leadform">
                  <div class="row">
                     <div class="col-md-6">
                        <p class="doctorname_text">Name</p>
                        <input type="text" class="email_text" placeholder="" formControlName="name" name="">
                     </div>
                     <div class="col-md-6">
                        <p class="doctorname_text">Email</p>
                        <input type="text" class="email_text" placeholder="" formControlName="email" name="">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <form>
                           <div class="form-group">
                              <p class="doctorname_text">Services Type</p>
                              <select class="form-control" id="" formControlName="servicetype">
                                 <option>Choose...</option>
                                 <option>CareGiver</option>
                                 <option>Client</option>
                              </select>
                           </div>
                        </form>
                     </div>
                     <div class="col-md-6">
                        <form>
                           <div class="form-group">
                              <p class="doctorname_text">Note</p>
                              <input type="text" class="email_text" placeholder="" formControlName="note" name="">
                             
                           </div>
                        </form>
                     </div>
                     <div class="read_bt col-sm-2"><a (click)="onSubmit()">Generate</a></div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- appointment section end -->
   <!-- about section start -->
   <div class="about_section layout_padding" id="about">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1 class="about_taital">About ApexCare360</h1>
               <p class="about_text"> Comprehensive Patient Lifecycle Management Manage every touchpoint from
                  appointments and billing to diagnoses and treatment
                  plans, all within one seamlessly integrated platform.Automate tasks, streamline workflows, and gain
                  actionable insights with advanced
                  reporting and analytics.</p>
               <div class="about_bt"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-6">
               <div class="about_img"><img src="https://themewagon.github.io/MedWin/images/about-img.png"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->
   <!-- treatment section start -->
   <div class="treatment_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="treatment_taital">Our Treatment</h1>
            </div>
         </div>
         <div class="treatment_section_2">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h1 class="number_text">01</h1>
                  <h2 class="care_text">Nephrologist Care</h2>
                  <p class="treatment_text">alteration in some form, by injected humour, or randomised words which don't
                     look even slightly e sure there isn't anything</p>
                  <div class="readmore_bt active"><a href="#">Read More</a></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="number_text">02</h1>
                  <h2 class="care_text">Eye Care</h2>
                  <p class="treatment_text_1">alteration in some form, by injected humour, or randomised words which
                     don't look even </p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="number_text">03</h1>
                  <h2 class="care_text">Pediatrician Clinic</h2>
                  <p class="treatment_text_1">alteration in some form, by injected humour, or randomised words which
                     don't look even</p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="number_text">04</h1>
                  <h2 class="care_text">Prenatal Care</h2>
                  <p class="treatment_text_1">alteration in some form, by injected humour, or randomised words which
                     don't look even</p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- treatment section end -->
   <section class="mb-5">
      <div class="benefits-title" style="color: #000;">Technology of the <span style="color: #007BFF;">Software</span>
      </div>

      <div class="custom-container custom-gallery1">
         <a class="custom-photoLink col-sm-3" href="#">
            <div id="custom-item1" class="custom-item custom-red">
               <div class="custom-color custom-red">
                  <i class="fa fa-camera"></i>
               </div>
            </div>
         </a>

         <a class="custom-photoLink col-sm-3" href="#">
            <div id="custom-item2" class="custom-item">
               <div class="custom-color custom-blue">
                  <i class="fas fa-film"></i>
               </div>
            </div>
         </a>

         <a class="custom-photoLink col-sm-3" href="#">
            <div id="custom-item3" class="custom-item">
               <div class="custom-color custom-green">
                  <i class="fas fa-server"></i>
               </div>
            </div>
         </a>
         <a class="custom-photoLink col-sm-3" href="#">
            <div id="custom-item4" class="custom-item">
               <div class="custom-color custom-green">
                  <i class="fas fa-server"></i>
               </div>
            </div>
         </a>
      </div>
   </section>

   <!-- testimonial section end -->
   <!-- contact section start -->

   <!-- contact section end -->

   <!-- copyright section start -->
   <div class="copyright_section bg-dark">
      <div class="container">
         <p class="copyright_text text-light">2024 All Rights Reserved. Design by <a class="text-light">HomeCare</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->




   <!-- javascript -->
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

</body>

</html>