<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="newstyle.css"> -->
    <title>Home Care </title>

</head>

<body>
    <header class="header" id="header">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="../../assets/74EB1EE2-13F5-4D86-99AE-A798B5CDABB1.png" loading="lazy" alt="MocDoc Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!-- <li class="nav-item">
                            <a class="nav-link btn btn-secondary-custom" href="#">Book a demo</a>
                        </li> -->
                        <li class="nav-item">
                            <a style=" background-color: #007BFF; color:white;" class="nav-link btn "
                                routerLink="/mainLogin/">Login</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link btn btn-primary-custom" routerLink="/sign-in/staffregister">Doctor
                                Register</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link btn btn-primary-custom" routerLink="/sign-in/patientegister">Patient
                                Register</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 style="line-height: 45px;"> Home Care Services, Focusing on Personal Care Home ... !
                    </h1>
                    <a style=" background-color: #007BFF; color:white !important " class="btn btn-primary-custom"
                        data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Lead
                        Request</a>
                </div>
                <div class="col-lg-6">
                    <img src="../../assets/sk-home-nursing-services-nagawara-bangalore-home-nursing-services-zsvfs5veud.avif"
                        alt="hospital-management-system">
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #438EB9;  color: white;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Leads</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form>
                                <div class="container-fluid mt-5">

                                    <div class="card mt-5 ">
                                        <div class="card-body ">
                                            <form class="row g-3">
                                                <div class="col-md-6">
                                                    <label for="" class="form-label fw-bold"
                                                        style="color: rgb(97, 95, 95); "> Name</label>
                                                    <input type="text" class="form-control" id="inputEmail4"
                                                        placeholder="Name">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputEmail4" class="form-label fw-bold"
                                                        style="color: rgb(97, 95, 95);"> Email</label>
                                                    <input type="email" class="form-control" id="inputEmail4"
                                                        placeholder="Email">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputState" class="form-label fw-bold"
                                                        style="color: rgb(97, 95, 95);">
                                                        Service Type</label>
                                                    <select id="inputState" class="form-select">
                                                        <option value="">Select</option>
                                                        <option value="1">Client</option>
                                                        <option value="2">Caregiver</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="inputState" class="form-label fw-bold"
                                                        style="color: rgb(97, 95, 95); ">Note</label>
                                                    <textarea class="form-control" name="" id=""
                                                        placeholder="note"></textarea>

                                                </div>
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-success  fw-bold">Create</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>







                            </form>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>





    <!-- softwhre img section -->

    <section class="sm">
        <div class="container">
            <div class="benefits-title" style="color: #000;">Home Care Physical Therapy Clinics Patient Management
                Software <br> <span style="color: #007BFF;">End-to-End Solution</span>

            </div>
            <div class="left1x3n">
                <div class=" grid178A">
                    <div class="">
                        <div class="">
                            <h3 class="" style="color: #000;">
                                Organize with ease
                            </h3>
                            <h6 class="" style="color: #4B5563; letter-spacing: 0.5px;">
                                Home Care is not just a pretty interface, it can help you untangle your bookmarks mess.
                            </h6>
                        </div>
                        <div class="tabs-container">
                            <div class="tab active showhim px-2" data-content="content1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd"
                                        d="M6.815 16.961a1 1 0 0 1-1.97-.347l.388-2.2H3a1 1 0 1 1 0-2h2.585l.706-4H3a1 1 0 1 1 0-2h3.643l.633-3.587a1 1 0 0 1 1.97.347l-.572 3.24h4.062l.45-2.546a1 1 0 0 1 1.969.348l-.389 2.198H17a1 1 0 0 1 0 2h-2.586l-.706 4H17a1 1 0 0 1 0 2h-3.644l-.632 3.589a1 1 0 0 1-1.97-.347l.571-3.242H7.263l-.448 2.547zm.801-4.547h4.062l.705-4H8.321l-.705 4z"
                                        opacity=".9"></path>
                                </svg>
                                Comprehensive Patient Lifecycle Management <div id="first" class="showme">
                                    <p>Manage every touchpoint from appointments and billing to diagnoses and treatment
                                        plans, all within one seamlessly integrated platform.
                                    </p>
                                </div>
                            </div>
                            <div class="tab active showhim  px-2" data-content="content2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path
                                        d="M8 11a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1h5zm7 4v2h-4v-2h4zm-8-2H4v3h3v-3zm11-2v2h-7v-2h7zM8 2a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5zm7 4v2h-4V6h4zM7 4H4v3h3V4zm11-2v2h-7V2h7z">
                                    </path>
                                </svg>
                                Powerful Operational Features <div id="" class="showme">
                                    <p> Automate tasks, streamline workflows, and gain actionable insights with advanced
                                        reporting and analytics.

                                    </p>
                                </div>
                            </div>

                            <div class="mt-3 d-md-block d-none medium-resp">
                                <a class="btn btn-secondary-custom" routerLink="/sign-in/AddDoctorus">Book a demo</a>
                            </div>
                        </div>
                    </div>

                    <div class="parent">
                        <div class="content-container">
                            <div class="contents active" id="content1">
                                <img src="../../assets/Primary-Health-Care-1.webp" alt="patient lifecycle HMS"
                                    loading="lazy" class="content-img">
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="benefits-title" style="color: #000;">Technology of the <span style="color: #007BFF;">Software</span>
        </div>

        <div class="custom-container custom-gallery1 row">
            <a class="custom-photoLink col-sm-4" href="#">
                <div id="custom-item1" class="custom-item custom-red">
                    <div class="custom-color custom-red">
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
            </a>

            <a class="custom-photoLink col-sm-4" href="#">
                <div id="custom-item2" class="custom-item">
                    <div class="custom-color custom-blue">
                        <i class="fas fa-film"></i>
                    </div>
                </div>
            </a>

            <a class="custom-photoLink col-sm-4" href="#">
                <div id="custom-item3" class="custom-item">
                    <div class="custom-color custom-green">
                        <i class="fas fa-server"></i>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!--===== FOOTER =====-->
    <footer class="custom-footer">
        <div class="custom-footer__container custom-bd-container">
            <h2 class="custom-footer__title">Home Care </h2>
            <p class="custom-footer__description">Home Care by PhysioWala</p>

            <div class="custom-footer__social">
                <a href="#" class="custom-footer__link"><i class="bx bxl-linkedin"></i></a>
                <a href="#" class="custom-footer__link"><i class="bx bxl-github"></i></a>
                <a href="#" class="custom-footer__link"><i class="bx bxl-codepen"></i></a>
            </div>
            <p class="custom-footer__copy">&#169; 2024 PhysioWala. All right reserved</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>