<section>
    
    <div class="container">
        <div style="padding: 15px;">
            <h2 class="mt-2">Patient Dashboard</h2>
           
          
              <div class="container-fluid text-center p-0">
                <div class="row row-cols-md-4 row-col-md-2 mb-2">
                  <div class="col-md-3">
                    <div class="card shadow-sm border-0 ">
                      <div style="background-color:#41DBBD;" routerLink="/super-admin/doctor" class="card-body text-start d-flex flex-row gap-4 text-light ">
                        <div>
                          <i style="font-size: 1.5rem;" class="fa-light fa-hospital-user"></i>
                        </div>
                        <div>
                          <h2 class="card-subtitle mb-2">12</h2>
                          <p class="card-title text-light"> Care Giver</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-3">
                    <div class="card shadow-sm border-0 ">
                      <div style="background-color: #7CC550;"  routerLink="/super-admin/patientdata" class="card-body text-start d-flex flex-row gap-4 text-light">
                        <div>
                          <i style="font-size: 1.5rem;" class="fa-light fa-user-doctor "></i>
                        </div>
                        <div>
                          <h2 class="card-subtitle mb-2">34</h2>
                          <p class="card-title text-light">Total Registered Patient</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div  class="card shadow-sm border-0 ">
                      <div style="background-color:#FF6982;" routerLink="/super-admin/contactus"  class="card-body text-start d-flex flex-row gap-4 text-light">
                        <div>
                          <i style="font-size: 1.5rem;" class="fa-light fa-users-medical"></i>
                        </div>
                        <div>
                          <h2 class="card-subtitle mb-2">45</h2>
                          <p class="card-title text-light">Total Allottment</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div  class="card shadow-sm border-0 ">
                      <div style="background-color:#FFC169;" routerLink="/super-admin/videoexercise"  class="card-body text-start d-flex flex-row gap-4 text-light">
                        <div>
                          <i style="font-size: 1.5rem;" class="fa-light fa-hospital "></i>
                        </div>
                        <div>
                          <h2 class="card-subtitle mb-2">47</h2>
                          <p class="card-title text-light">Clock status</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <canvas baseChart id="chartBar2" class="chart h-300" [data]="transparencyChartDataDoctor">
                  </canvas>
                </div>
              </div> -->
           
             
          </div>
    </div>
    
</section>