
    <div class="container upload-container mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="upload-header">Documents</h5>

                <!-- Button trigger modal -->
<button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #438EB9;">
    Active Document
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Active Document </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-4">
                <label for="fileUpload" class="custom-label">Maximum allowed file size is 100.00MB</label>
                <div class="input-group">
                    <input type="file" class="form-control input-file" id="fileUpload">
                    <input type="date" class="form-control input-date" placeholder="Expires (optional)">
                    <button class="btn text-white" style="background-color: #438EB9;">Upload</button>
                </div>
            </div>
            <table class="table table-striped custom-table table-bordered">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Size</th>
                        <th> Active Date</th>
                        <th>Expires date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Roberto Caballero - Medicaid Authorization PCS-0010_03_13_2024_00_00_00.pdf</td>
                        <td>100.49KB</td>
                        <td style="color: green;">03/13/24</td>
                        <td class="expires-date" style="color: red;">09/30/24</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3"  style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Roberto Caballero - Medicaid Authorization PCS-0010_03_13_2024_00_00_00.pdf</td>
                        <td>100.49KB</td>
                        <td style="color: green;">03/13/24</td>
                        <td class="expires-date" style="color: red;">09/30/24</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3"  style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Roberto Caballero - Medicaid Authorization PCS-0010_03_13_2024_00_00_00.pdf</td>
                        <td>100.49KB</td>
                        <td style="color: green;">03/13/24</td>
                        <td class="expires-date" style="color: red;">09/30/24</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3"  style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn text-white" style="background-color: #438EB9;">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="background-color: #438EB9;">
    Archive Document
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Archive Document </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-4">
                <label for="fileUpload" class="custom-label">Maximum allowed file size is 100.00MB</label>
                <div class="input-group">
                    <input type="file" class="form-control input-file" id="fileUpload">
                    <input type="date" class="form-control input-date" placeholder="Expires (optional)">
                    <button class="btn text-white" style="background-color: #438EB9;">Upload</button>
                </div>
            </div>
            <table class="table table-striped custom-table table-bordered">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Size</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Roberto Caballero - Medicaid Authorization PCS-0010_03_13_2024_00_00_00.pdf</td>
                        <td>100.49KB</td>
                        <td style="color: green;">03/13/24</td>
                        <td class="expires-date" style="color: red;">09/30/24</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3"  style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Roberto Caballero - Medicaid Authorization PCS-0010_03_13_2024_00_00_00.pdf</td>
                        <td>100.49KB</td>
                        <td style="color: green;">03/13/24</td>
                        <td class="expires-date" style="color: red;">09/30/24</td>
                        <td>
                          <i class="fa-sharp fa-solid fa-download p-3" style="color: #438EB9;font-size: 20px;"></i>
                          <i class="fa-sharp fa-solid fa-square-pen p-3"  style="color: rgb(82, 194, 82);font-size: 20px;"></i>
                          <i class="fa-solid fa-trash p-3" style="color: rgb(175, 40, 40); font-size: 20px;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn text-white" style="background-color: #438EB9;">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  
            </div>
        </div>
    </div>
 
